img {
    max-width:100%;
    border: none;
    outline: none;
}
input{
    display: none;
    border: none;
    outline: none;
}
body{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    color: #283645;
    background-color: #ffffff;
    font-weight: normal;
}
.sprites{
    background: url(../images/sprites.png) no-repeat;
    
}
header{
   background: #2D3C4D url(../images/background.png) center center no-repeat;
   
   background-size: cover;
   width: 100%; 
   height: 910px;
}
.wrap{
    position: relative;
    width: 100%;
}
nav .wrap{
    
    display: flex;
    
    flex-wrap: wrap;
    background: #1D2631;
    padding: 26px 0;
}
nav .logo{
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
}

nav menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 3 1 auto; 
    flex-wrap: wrap; 
}
menu li{
    list-style: none;
}
menu li a{
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    
    
}
menu li a:hover{
    text-decoration: underline;
}  
menu li a:focus{
    opacity: 0.5;
} 
.page-header{
    position: absolute;
    top: 182px;
    left: 14%;
    text-align: center;
}
.page-header h1{
    color: #fff;
    font-size: 3.375em;
    font-weight: normal;
    padding-bottom: 20px;
}
.page-header .btn{
    color: #fff;
    font-size: 1.3em;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 40px;
    text-decoration: none;
}
.page-header .btn:hover{
    color: #D22856;
    background: #fff;
    
}
.page-header .btn:focus{
    color: #F1BECC;
    background: #fff;
    
}
.page-header .social{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page-header .social-btn{
    font-size: 0;
    display: inline-flex;
    margin-top: 70px;
    border: 0;
    border-radius: 0;
}
.page-header .social-apple{
    width: 46px; 
    height: 57px;
    background: url(../images/apple-logo.svg) no-repeat;
    
}
.page-header .social-android{
    width: 42px; 
    height: 47px;
    background: url(../images/android-logo.svg) no-repeat;
}
.page-header .social-microsoft{
    width: 44px; 
    height: 42px;
    background: url(../images/microsoft-logo.svg) no-repeat;
}
.page-header p{
    font-size: 1.1em;
    color: #fff;
    margin-top: 60px;
    
}

section:nth-child(1){
    position: relative;
}
section h2{
    font-size: 3.1em;
    text-align: center;
    font-weight: normal;
}
section h3{
    font-size: 1.5em;
    
}
.title{
    z-index: 2;
    position: relative; 
}
.texno-pink{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 80px;
    background-color: #F2F2F2;
    flex-wrap: wrap;
     
}
.texno-pink__title{
    flex-basis: 235px;
    z-index: 1;
}
.bevel:nth-child(2){
    border-top: 257px solid transparent;
    border-left: 1200px solid white;
    border-bottom: 92px solid transparent;
    position: absolute;
    top: 3%;
    left: 0;
}

.texno-img{
    display: none;
}
.texno-effect{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    padding-top: 50px;
    margin-bottom: 70px;
}
.texno-effect__title h3{
    font-size: 1.85em;
}
.texno-effect__title h3{
    font-size: 1.25em;
}
.texno-effect__title a{
    color: #d22856;
}
.texno-reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}
.texno-reviews img{
    margin-bottom: 50px;
}
.texno-reviews__slider{
    
    width: 55%;
    margin: 0 auto;
}
.texno-reviews__slides{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.texno-reviews__slides{
    display: none;
}
#radio1:checked ~ .texno-reviews .label1[for="radio1"],
#radio2:checked ~ .texno-reviews .label2[for="radio2"] {
    border: 2px solid black;
    display: block;
} 
#radio1:checked ~ .texno-reviews__slider .texno-reviews__slides:nth-child(1) {
    display: flex;
    }
    
#radio2:checked ~ .texno-reviews__slider .texno-reviews__slides:nth-child(2) {
    display: flex;
    }

.texno-reviews .label1 {
    display: block;
    width: 22px;
    height: 42px;
    background-position: -587px -35px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 7%;
    
} 
.texno-reviews .label2 {
    display: block;
    width: 22px;
    height: 42px;
    background-position: -679px -35px;
    cursor: pointer;
    position: absolute;
    top: 45%;
    right: 7%;
}
.texno-reviews .label3 {
    display: none;
    
}  
.texno-reviews__slides h4{
    margin-bottom: -10px;
}
.table-cell{
    background-color: #F2F2F2;
    position: relative;
    padding: 50px 0;
}
.table {
    display: table;
    background: #fff;
    padding: 0;
    margin: 50px auto;
    
}
.row{
    display: table-row;
    
    
}
.cell__2:nth-child(1){
    visibility: hidden;
}
.cell{
    display: table-cell;
    padding: 20px;
    width: 20%;
    text-align: center;
    border: 1px solid #f2f2f2;
}
.cell__1{
    
    text-align: left;
}
.cell__2{
    
    background-color: #283645;
    color: #fff;
}
.cell__3{
    background: url(../images/yes.png) center center no-repeat;
    
}
.cell__4{
    
    background: url(../images/no.png) center center no-repeat;
}
.bevel__1 {
    border-top: 257px solid transparent;
    border-left: 1200px solid white;
    border-bottom: 92px solid transparent;
    position: absolute;
    top: -52%;
    left: 0;
    z-index: 0;
}
.cell__2:nth-child(3){
    position: relative;
}
.bevel__img{
    background: url(../images/hit.png) no-repeat;
    width: 74px;
    height: 73px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
section:nth-child(5) h3{
    font-size: 3.135em;
    text-align: center;
    font-weight: normal;
}
.contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.contact p{
    font-weight: 600;
    
}

.contact__adress .contact__red,
.contact a{
    color: #d22856;
    font-weight: 400;
    text-decoration: none;
}

.triangle{
    
    padding-top: 30px;
}
.triangle-bottom{
    width: 0;
	height: 0;
	border-left: 600px solid transparent;
	border-right: 600px solid transparent;
	border-top: 77px solid white;
    z-index: 1;
}
.map{
    
    margin-top: -77px;
    z-index: -1;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
}
.footer__link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.footer__logo{
  background: url(../images/footer-logo.png) no-repeat;
    width: 146px;
    height: 40px;  
}
.social-btn{
    display: inline-flex;
    width: 45px;
    height: 45px;
    margin: 0 2px;
    font-size: 0;
    text-decoration: none;
    border: 2px solid #e9ebec;
    border-radius: 50px;
 }
.footer__link .social-btn{
    border: 0;
    border-radius: 0;
 }
.social-btn-tw{
    background-position: -758px -22px;
  }
.social-btn-fb{
    background-position: -490px -26px;
}
.social-btn-p{
    background-position: -212px -22px;
}
.social-btn-acad{
    background-position: -309px -27px;
}
.social-btn-link{
    background-position: -403px -28px;
}
.social-btn:hover{
    border: 2px solid #283645;
}
.social-btn:focus{
    border: 2px solid #283645;
    opacity: 0.3;
}
.footer__link .social-btn:hover {
    border: 0;
    border-radius: 0;
}
.footer__link .social-btn:focus {
    border: 0;
    border-radius: 0;
}

.social-btn-acad:hover {
    background-position: -30px -27px;
}
.social-btn-link:hover{
    background-position: -124px -28px;
}
.social-btn-acad:focus {
    background-position: -30px -27px;
    opacity: 0.3;
}
.social-btn-link:focus{
    background-position: -124px -28px;
    opacity: 0.3;
}


@media screen and (max-width:854px),only screen and (max-device-width:854px){
.bevel:nth-child(2) {
    top: 9%;
    
}
.texno-effect img{
    width: 30%;
    height: 30%;
}

}
@media screen and (max-width:800px),only screen and (max-device-width:800px){
section h3{
    font-size: 1.4em;
    
}
.texno-effect img{
    width: 20%;
    height: 20%;
}

}




@media screen and (max-width:768px),only screen and (max-device-width:768px){
  header{
   background-position: center center;
    background-size: cover;
   height: 729px;
}
.page-header {
    left: 7%;
}
.page-header h1 {
    font-size: 2.5em;
}
.page-header p {
    font-size: 0.8em;
    margin-top: 40px;
}
.page-header .social-btn {
    margin-top: 40px;
}
.texno-reviews img{
    display: none;
}
.texno-reviews__slides p:nth-child(1){
    text-indent: 55px;
    
} 
.texno-reviews .label1,
.texno-reviews .label2 {
    width: 7px;
    height: 7px;
    background: 0;
    margin-right: 24px;
    display: inline-block;
    border: 2px solid #283645;
    box-shadow: 0 0 0 6px #ffffff; 
    border-radius: 50%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    
}
.texno-reviews .label3 {
    width: 7px;
    height: 7px;
    background: 0;
    margin-right: 24px;
    display: inline-block;
    border: 2px solid #283645;
    box-shadow: 0 0 0 6px #ffffff; 
    border-radius: 50%;
    cursor: pointer;
    
    
}
.texno-reviews label:hover {
    width: 7px;
    height: 7px;
    background: 0;
    
    border: 2px solid lightgray;
    
} 
.texno-reviews__label {
    position: absolute;
    top: 100%;
    left: 15%;
    right: 15%;
} 
.texno-reviews__slides {
    padding: 0 0;
}
footer{
    flex-direction: column;
    text-align: center;
}     
}

@media screen and (max-width:640px),only screen and (max-device-width:640px){
.wrap{
    
    min-height: 68px;
}
#menu.topmenu{
    height: 2em;
    background: #283645 url('../images/open-menu.png') no-repeat center left 7%;
    cursor: pointer;
    
}
#menu.topmenu li{
    display: none;
}
#menu.mobilemenu{
    background: #283645 url('../images/close-menu.png') no-repeat top 3% left 7%;
    cursor: pointer;
    
}
#menu.topmenu:hover{
    background: #283645 url('../images/open-menu-hvr.png') no-repeat center left 7%;
    
    
}
#menu.mobilemenu:hover{
    background:  #283645 url('../images/close-menu-hvr.png') no-repeat top 3% left 7%;
}
#menu.mobilemenu menu{
    width: 90%;
    padding: 0 0 0 8%;
}
nav .logo{
    justify-content: center;
}
nav menu{
    display: block;
    position: absolute;
    z-index: 1;
    top: 70px;
    left: -20px;
    right: -20px; 
}
nav menu li{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000001;
}
nav menu li a{
   text-transform: capitalize;
   font-weight: 600; 
}
menu li:hover{
    border-bottom: 1px solid #485461;
}
menu li a:hover{
    text-decoration: none;
    color: #D22856;
}
header{
   background: url(../images/background700.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 729px;
}
.page-header {
    left: 0;
}
.texno-pink__title img{
    display: none;
}
.texno-pink {
    flex-direction: column;
}

.texno-pink__title {
    flex-basis: 125px;
    
}
.texno-pink__title h3,
.texno-pink__title p{
    padding-bottom: 0;
    font-size: 1.1em;
}
.texno-pink__title p{
    font-size: 0.8em;
}
.bevel:nth-child(2) {
    display: none;
    border: 0;
}
.texno-img{
    display: block;
    position: absolute;
    top: 38%;
    left: 2%;
    background: url(../images/screen_4.png) no-repeat;
    width: 268px;
    height: 548px;
    z-index: 3;
}
section h2 {
    font-size: 2.6em;
    
}
.texno-effect{
    display: none;
}
.texno-reviews {
    margin-top: 40px;
} 
.contact p {
    font-size: 0.8em;
}
section:nth-child(5) h3 {
    font-size: 1.135em;
    
}

}







@media screen and (max-width:540px),only screen and (max-device-width:540px){
.page-header .btn {
    
    font-size: 1.1em;
    
}
.texno-pink__title h3, .texno-pink__title p {
    padding-left: 60%;
}
.texno-reviews__slides p:nth-child(1){
    text-indent: 15px;
    
}
.table-cell{
    font-size: 0.8em;
}
.contact{
    flex-direction: column;
    text-align: center;
}
.contact p {
    font-size: 1.3em;
}
section:nth-child(5) h3 {
    font-size: 2.135em;
    
} 
}





@media screen and (max-width:480px),only screen and (max-device-width:480px){
 header{
   background-position: 100% 50%;
   
}
.page-header {
    width: 100%;
    top: 728px;
    background-color: #1D2631;
}
.page-header .social {
    width: 210px;
    margin: 0 auto;
}
section:nth-child(1){
    margin-top: 530px;
}
section h2{
    font-size: 1.8em;
}
.texno-img{
    display: none;
}
.texno-pink__title h3,
.texno-pink__title p{
    padding-left: 0;
    text-align: center;
}
.bevel:nth-child(2) {
    top: -9%;  
}
.bevel__img{
    background: url(../images/hit300.png) no-repeat;
    width: 45px;
    height: 44px;
    
}
}



@media screen and (max-width:375px),only screen and (max-device-width:375px){
  .page-header {
    left: 0;
}
header{
   background-position: 88% 50%;
}
.cell {
    padding: 5px;
}
.cell__3{
    background: url(../images/yes-320.png) center center no-repeat;
}
.cell__4{
    background: url(../images/no-320.png) center center no-repeat;
}
.bevel__1:nth-child(1) {
    top: -72%;
}
.table-cell {
    font-size: 0.7em;
} 
.footer__link p{
    font-size: 0.7em;
}  
}

@media screen and (max-width:320px),only screen and (max-device-width:320px){

#menu.topmenu{
    background-position: center left 10%;
}
#menu.mobilemenu{
    background-position: top 3% left 10%;
}
#menu.topmenu:hover{
    background-position: center left 10%;
}
#menu.mobilemenu:hover{
    background-position: top 3% left 10%;
}
header{
   background: url(../images/background320.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 486px;
}
.page-header {
    top: 486px;
}
.page-header .btn {
    font-size: 0.8em;
    padding: 8px 15px;
}
.bevel:nth-child(2) {
    top: -8%;  
}
}
@media screen and (max-width:240px),only screen and (max-device-width:240px){
  section h2 {
    font-size: 1.2em;
}
.bevel:nth-child(2) {
    display: none;
}
.bevel:nth-child(3) {
    display: none;
}  
}