.main-nav{
    display: flex;
    justify-content: space-around;
    
    background: #1D2631;
    padding: 26px 0;
    
}
.logo{
    display: flex;
    justify-content: center;
    flex-grow: 1;
    
    
    outline: 1px solid red;
    
}
.main-nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
     flex-grow: 3; 
     outline: 1px solid red;
}  
.main-nav ul li{
    
    list-style: none;
    
}
.main-nav ul li a{
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}   




nav .logo{
    display: flex;
    justify-content: center;
    flex: 1 1 23%;
    
}
nav .main-nav ul{
    display: flex;
    justify-content: flex-start;
    flex: 3 1 26%; 
     outline: 1px solid red;
     flex-wrap:wrap;
}
.main-nav ul li{
    margin-right: 9%;
    list-style: none;
    
}
.main-nav ul li a{
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    
} 